@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::after,
*::before {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --background: #16161a;
    --paragraph: #94a1b2;
    --btn: #7f5af0;
}

header {
    border-bottom: 2px solid var(--paragraph);
    background-color: var(--background);
    /**/
    padding: 0px 20px;
    height: 60px;
}

nav>ul {
    justify-content: right;
    align-items: center;
    display: flex;
    height: 60px;
}

nav>ul>li {
    padding: 0px 5px;
    list-style: none;
}

nav>ul>li>a {
    color: var(--paragraph);
    /**/
    text-decoration: none;
    font-weight: 600;
}

.container {
    background-color: var(--background);
    /**/
    min-height: calc(100vh - 60px);
    padding: 0px 10px;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.task>.task-body {
    box-shadow: 0px 0px 5px 0px #7f5af0;
    margin-left: 15px;
    margin-top: 20px;
    width: 250px;
    height: auto;
}

.task>.task-body>.task-title {
    color: var(--paragraph);
    /**/
    overflow-wrap: break-word;
    text-align: justify;
    padding: 0px 10px;
    margin-top: 10px;
    height: auto;
}

.task>.task-body>.task-text {
    color: var(--paragraph);
    /**/
    overflow-wrap: break-word;
    text-align: justify;
    padding: 0px 10px;
    margin-top: 10px;
    height: auto;
}

.task-body>.task-delete {
    justify-content: right;
    align-items: center;
    padding: 0px 10px;
    display: flex;
    height: 50px;
}

.task-body>.task-delete a {
    background-color: var(--btn);
    color: var(--background);
    /* */
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 15px;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
    outline: none;
}

.task-body>.task-delete a:hover {
    background-color: #7251d3;
    /**/
    transition: .5s;
}

/* form */
section {
    background-color: var(--background);
    /*colors*/
    height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
    display: flex;
}

form {
    box-shadow: 0px 0px 5px 0px #7f5af0;
    border: 2px solid var(--border);
    background-color: transparent;
    /**/
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    display: flex;
    width: 280px;
}

form>.data {
    /**/
    align-items: flex-end;
    display: flex;
    height: 50px;
}

form>div>h2 {
    /* colors */
    color: var(--paragraph);
    /**/
    font-weight: 600;
}

form>input[type=text],
input[type=password],
input[type=email] {
    /* */
    border: none;
    border-bottom: 1px solid var(--border);
    border-radius: 2px;
    padding: 0px 10px;
    margin-top: 15px;
    outline: none;
    width: 230px;
    height: 40px;
    /*colors*/
    background-color: var(--background);
}

form>input[type=text],
input[type=password],
input[type=email]::placeholder {
    border-bottom: 2px solid #94a1b2d0;
    color: var(--paragraph);
    padding: 0px 10px;
}

form>input[type=submit] {
    /* styles */
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
    height: 40px;
    border: none;
    width: 110px;
    /* colors */
    background-color: var(--btn);
    font-weight: 600;
    color: #272343;
}

form>input[type=submit]:hover {
    background-color: #7251d3;
    /**/
    transition: .5s;
}

/* not-data */
.not-data {
    height: calc(100vh - 60px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
}

.data-upload {
    border: 2px solid #7f5af0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 350px;
    display: flex;
}

.data-upload>p {
    /* colors */
    color: var(--paragraph);
    /**/
    font-size: 18px;
}

.data-upload>a {
    /* styles */
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin-top: 10px;
    transition: .5s;
    cursor: pointer;
    outline: none;
    border: none;
    /* colors */
    background-color: var(--btn);
    font-weight: 600;
    color: #272343;
}

.data-upload>a:hover {
    background-color: #7251d3;
    /**/
    transition: .5s;
}

/* message */

.message>p {
    /* colors */
    color: var(--paragraph);
    /**/
    border-radius: 5px;
    color: #e45858;
    margin-top: 10px;
    font-size: 15px;

}

.message_success {
    background-color: var(--background);
    justify-content: center;
    align-items: flex-end;
    padding: 0px 25px;
    color: #7f5af0;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    height: 35px;
}